div.asset-card {
    height: 350.08001708984375px;
    width: 290.739990234375px;
    left: 1px;
    top: 49.9200439453125px;
    border-radius: 0px;
    
    background: linear-gradient(180deg, rgba(98, 106, 136, 0.1) 0%, rgba(46, 49, 73, 0.1) 107.43%);
}