@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("http://fonts.cdnfonts.com/css/tomorrow-wind");

html,
body,
* {
  font-family: "Tomorrow Wind", sans-serif;
}

body {
  background-color: hsla(232, 37%, 12%, 1);
  font-size: 16px;
}

.app-container {
  display: flex;
  
}
